@using System.Collections.Generic
@using System.Linq
@using HCZZ.ModeDB
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/publicHeader.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/publicJS.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/layer/layer.js")" type="text/javascript"></script>
    <style>
        .navList {
            color: #616363;
        }

            .navList img {
                vertical-align: middle;
                margin-top: -3px;
                padding-right: 3px;
            }

            .navList a {
                color: #616363;
                padding-left: 3px;
                padding-right: 3px;
            }
    </style>
</head>
@{
    UserInfo DBuser = (UserInfo)Session["userInfo"];
    IEnumerable<Sys_UserPowerInfo> IElist = DBuser.PowerList;
    //IElist = IElist.Where(a => a.PageType == 0 && !string.IsNullOrEmpty(a.FilePath)).OrderBy(a => a.Indexs);
    IElist = DBuser.PowerList.Where(m => m.Pid == 0).OrderBy(m => m.Indexs);
    List<Sys_UserPowerInfo> topList = IElist.ToList();
}
<body style="min-width:1366px">
    <!--最顶部top-->
    <!--最顶部top-->
    <div class="top">
        <div class="toplogo">
            <img src="" />
        </div>
        <div class="toplogin">
            <span id="time"></span>
            <span class="loginUser">欢迎<a href="#" style="color: #aaaaaa;display: inline-block;margin: 0px 3px;">@DBuser.UserName</a>登录</span>
            <input class="loginBtn" type="button" name="" id="" value="" onclick="myFunctionLogin()" />
            <ul class="loginBtnUl" id="loginBtnUl">
                <li onclick="myFunctionLogin(); AlertShow(800, 520, '/Public/EditUser')">修改用户信息</li>
                <li onclick="myFunctionLogin()" id="Exit">安全退出</li>
            </ul>
            <input class="loginKJCX" type="button" name="" value="快捷查询" />
        </div>
    </div>

    <!--头部导航栏header-->
    <div class="header">
        <ul>
            @for (int i = 0; i < topList.Count; i++)
            {
                <li class="@(ViewBag.lishow == topList[i].Class ? topList[i].Class+"2" : topList[i].Class)">
                    <a href="@Url.Content("~/"+DBuser.PowerList.Where(a=>a.Pid==topList[i].SpId).OrderBy(m=>m.Indexs).First().FilePath)">@topList[i].Name</a>
                </li>
            }
        </ul>
    </div>
    <div style="color: #616363; margin-right: 25px; height: 30px; line-height: 30px; float: right" id="log">
        <ul>
            <li class="navList"><img src="@Url.Content("~/Content/images/home_icon.png")" />@Html.Raw(ViewBag.location)</li>

        </ul>
    </div>
    <div class="center" id="center">
        @RenderBody()
    </div>
    @*<div class="footer">
            <div class="innerFooter">
                <a href="#">Copyright &copy 2016-@(DateTime.Now.Year)
                    深圳市携网科技有限公司</a></div>
        </div>*@
    <div id="showDiv" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;
        background-color: #7C7C7C; z-index: 5000; opacity: 0.2; display: none;
        background-position: initial initial; background-repeat: initial initial;">
        <div id="imgdiv" style="width:100px;align-content: center;"><img src="@Url.Content("~/Content/images/loading7.gif")" /></div>
    </div>
    <script type="text/javascript">
         @Html.Raw(ViewBag.errscript)
        $(function () {
            $(".WLFX").click(function () { a(this) })
            $(".CPFX").click(function () { a(this) })
            $(".TZPZ").click(function () { a(this) })
            //$(".BJGL").click(function () { a(this) })
        })
        function a(obj) {
            $("." + obj.attributes[0].value + " a").attr("href", "#");
            alert("此功能正在开发。。。");
        }
        $("#Exit").click(function () {
            if (confirm("确定退出系统吗？")) {
                location.href = "/Public/Exit";
            }
        });
        function myFunctionLogin(pe) {
            $('.loginBtnUl').toggle(100);
        };
    </script>
</body>
</html>
