@using HCZZ.ModeDB
@{
    ViewBag.Title = "布控报警-新增布控项";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfo user = (UserInfo)Session["userInfo"];
}
<link href="~/Content/css/BJGL_JSTXBJ.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/publicHeader.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/DatePicker/WdatePicker.js")" type="text/javascript"></script>
<style type="text/css">
    #seltype .checkedboxType li {
        float:left
    }
    .contentbody .contentInfo table {
        color: #b1b1b1;
        width: 1250px;
        border: 1px solid #2a393a;
        margin: 0 auto;
        background-color: #21222f;
    }

        .contentbody .contentInfo table tr {
            height: 40px;
        }

            .contentbody .contentInfo table tr:nth-child(even) {
                background-color: #21202E;
            }

            .contentbody .contentInfo table tr:nth-child(odd) {
                background-color: #21222F;
            }

            .contentbody .contentInfo table tr th {
                text-align: left;
                padding-left: 50px;
                background-color: #1E1F2D;
                border-bottom: 1px solid #2A393A;
            }

            .contentbody .contentInfo table tr td {
                border-right: 1px solid #2A393A;
                padding-left: 50px;
            }

                .contentbody .contentInfo table tr td .spanTitle {
                    color: #999999;
                }

                .contentbody .contentInfo table tr td .spanText {
                    color: #CCCCCC;
                }

                .contentbody .contentInfo table tr td .spanTextHint {
                    color: #AA301C;
                }

        .contentbody .contentInfo table:nth-child(1) {
            margin-top: 20px;
        }

        .contentbody .contentInfo table:nth-child(2) {
            margin-bottom: 50px;
            border-top: none;
        }

        .contentbody .contentInfo table tr td img {
            vertical-align: middle;
        }

        .contentbody .contentInfo table tr td input {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            background-color: #222B3B;
            height: 25px;
            padding-left: 5px;
            color: #999999;
        }

        .contentbody .contentInfo table tr td select {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            background-color: #222B3B;
            height: 25px;
            padding-left: 5px;
            color: #999999;
        }

        .contentbody .contentInfo table tr td .SYHLXbtn {
            border: 1px solid #222B3B;
            cursor: pointer;
            outline: none;
            box-sizing: border-box;
            /*padding-top: 3px;*/
            margin-left: 10px;
            padding-bottom: 3px;
            padding-left: 15px;
            padding-right: 15px;
            -moz-border-radius: 15px; /* Firefox */
            -webkit-border-radius: 15px; /* Safari 和 Chrome */
            border-radius: 15px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
        }

        .contentbody .contentInfo table tr td .YHLXbtnActive {
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            color: #7BD2DA;
            border: 1px solid #7BD2DA;
        }

        .contentbody .contentInfo table tr td .ZJLX {
            width: 80px;
            border: 1px solid #0A7891;
            cursor: pointer;
            background-color: #0B2A3C;
            color: #7BD2DA;
        }

    .footerAdd {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

        .footerAdd .add {
            box-sizing: border-box;
            cursor: pointer;
            width: 250px;
            height: 50px;
            background-color: #1e1f2d;
            color: #7bd2da;
            border: none;
            font: 14px "Î¢ÈíÑÅºÚ";
            background-image: url(/Content/images/save_bg.png);
        }
</style>
<h2>布控报警-新增布控项</h2>
@using (Html.BeginForm("AddIndex", "Warning", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="contentbody" id="contentbody">
        <div class="contentTopNav">
        </div>
        <div class="contentInfo">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr><th colspan="3">添加布控信息</th></tr>
                    <tr>
                        <td style="width: 50%;" id="txtTS0">
                            <span class="spanTitle" id="selTaskName">任务名称:</span>
                            <input type="text" id="txtTaskName" name="txtTaskName" maxlength="18" style="width: 301px;">
                        </td>
                        <td style="display:none" id="txtTS1">
                            <span class="spanTextHint" id=""><img src="/Content/images/star1.png">只支持“.txt”结尾的文件。导入格式为“手机号码”加上“|”符号“Mac地址”，如有多个黑名单只需换行继续写入“手机号码”加上“|”符号“Mac地址”（例如：18888888888|A1-BC-C3-B4-E5-R5）</span>
                        </td>
                        <td style="width: 50%;">
                            <span class="spanTitle">布控类型:</span>
                            <select id="txtCaseItem" name="txtCaseItem" style="width: 100px;color: #7BD2DA;" class="ZJLX" onchange="SetCaseItem(this)">
                                <option value="1">手机号码</option>
                                <option value="2">上网终端MAC地址</option>
                                <option value="3">批量导入黑名单</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="txt">
                                <span class="spanTitle">布控内容:</span>
                                <input style="width: 320px;" name="keyWord" id="txtCaseValue" value="" maxlength="20" type="text">
                            </div>
                            <div id="file" style="display:none;">
                                <span class="spanTitle">选择黑名单文件:</span>
                                <input type="file" name="uploadFile" id="uploadFile" style="" value="" />
                            </div>
                        </td>
                        <td>
                            <span class="spanTitle">布控有效时间至:</span>
                            <input name="txtEndTime" id="txtEndTime" class="Wdate" style="margin: 0;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readonly:true,minDate:'%y-%M-%d'})" type="text">
                            <span class="spanTextHint" id="spEmail"><img src="/Content/images/star1.png">截止至此日案件布控失效</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="margin-top: 20px;">
                            <span class="spanTitle">负责人：</span>
                            <input type="text" id="txtHeadName" name="txtHeadName" class="_text" maxlength="128" value="@user.TrueName">
                            <span class="spanTitle">负责人电话：</span>
                            <input type="text" id="txtHeadMobile" name="txtHeadMobile" class="_text" maxlength="50" value="">
                        </td>
                        <td>
                            <span class="spanTitle">邮件报警:</span>
                            <select id="txtMailWarn" name="txtMailWarn" style="width: 100px;color: #7BD2DA;" class="ZJLX" onchange="SetMailWarn(this)">
                                <option value="1">启动</option>
                                <option value="2">不启动</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="spanTitle" id="isShowEmail">报警邮箱：</span>
                            <input type="text" id="txtWMail" name="txtWMail" class="_text" maxlength="64" value="">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <th colspan="3">案件说明</th>
                    </tr>
                    <tr style="border-top: 1px solid #2A393A;">
                        <td style="width: 50%;">
                            <textarea style=" background-color #222B3B; color #999999; width 1150px;
                                      height 100px;" name="txtRemark" id="txtRemark" maxlength="256"></textarea>
                        </td>

                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td width="20%" align="right">
                        布控范围：
                    </td>
                    <td>
                        <input type="checkbox" id="ckAll" name="ckAll" class="BMap_checkbox" value="0" style="margin-left: 5px;" onclick="ckall()" />全选<span id="sparea" style="color:red"></span>
                        <div id="selarea">
                            <ul class="province" aid="0">
                                @{
                                    List<AreaInfo> arealist = ViewBag.DSArea;
                                    foreach (AreaInfo Pitem in arealist.Where(a => a.CityType == 2))
                                    {
                                        <li>
                                            <a onclick="$(this).next().slideToggle();"><input type="checkbox" aid="@Pitem.ID" pid="0" onclick="ckone(this,event);" value="" />@Pitem.Area</a>
                                            @if (arealist.Where(a => a.CityType == 1 && a.Pid == Pitem.ID).Count() > 0)
                                            {
                                                <ul class="City" style="display: none;" aid="@Pitem.ID">
                                                    @foreach (AreaInfo Citem in arealist.Where(a => a.CityType == 1 && a.Pid == Pitem.ID))
                                                    {
                                                        <li>
                                                            <a onclick="$(this).next().slideToggle();"><input aid="@Citem.ID" type="checkbox" pid="@Pitem.ID" onclick="ckone(this,event)" value="" />@Citem.Area</a>
                                                            @if (arealist.Where(a => a.CityType == 0 && a.Pid == Citem.ID).Count() > 0)
                                                            {
                                                                <ul class="area" style="display: none;" aid="@Citem.ID">
                                                                    @foreach (AreaInfo Aitem in arealist.Where(a => a.CityType == 0 && a.Pid == Citem.ID))
                                                                    {
                                                                        <li><a><input type="checkbox" onclick="ckone(this,event)" pid="@Citem.ID" value="@Aitem.ID" />@Aitem.Area</a></li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }

                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <input type="hidden" name="txtDeployArea" maxlength="256" id="txtDeployArea" value="" />
                    </td>
                </tr>
                <tr>
                    <td align="right">布控场所类别:</td>
                    <td>
                        <input type="checkbox" id="ckAll" name="ckAll" class="BMap_checkbox" value="0" style="margin-left: 5px;" onclick="cball()" />全选<span id="sptype" style="color:red"></span>
                        <div id="seltype">
                            <ul class="checkedboxType" aid="0">
                                @{
                                    Dictionary<int, string> dic = ViewBag.NetbarType;
                                    foreach (var d in dic)
                                    {
                                        <li>
                                            <input type="checkbox" value="@d.Key" name="cbtype" />@d.Value
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footerAdd"><input class="add" name="button" value="保存" type="submit"><input id="HId" name="HId" value="" type="hidden"><input id="selUserType" name="selUserType" value="0" type="hidden"></div>
    </div>
                                    }

<script>
    function cball() {
        if ($("#cbAll").attr('checked') == undefined || $("#cbAll").attr('checked') == "") {
            $('#seltype').find('input').attr('checked', false);
        } else {
            $('#seltype').find('input').attr('checked', "checked");
        }
    }
    function SetCaseItem(obj) {
        if ($(obj).val() == "3") {
            $("#file").css("display", "block");
            $("#txt").css("display", "none");
            $("#txtTS0").css("display", "none");
            $("#txtTS1").css("display", "block");
        } else {
            $("#file").css("display", "none");
            $("#txt").css("display", "block");
            $("#txtTS0").css("display", "inline");
            $("#txtTS1").css("display", "none");
        }
    }
    function SetMailWarn(obj) {
        if ($(obj).val() == "2") {
            $("#isShowEmail").css("display", "none");
            $("#txtWMail").css("display", "none");
        } else {
            $("#isShowEmail").css("display", "inline");
            $("#txtWMail").css("display", "inline");
        }
    }
    function ckall() {
        if ($("#ckAll").attr('checked') == undefined || $("#ckAll").attr('checked') == "") {
            $('#selarea').find('input').attr('checked', false);
        } else {
            $('#selarea').find('input').attr('checked', "checked");
        }
    }
    function ckone(area, event) {
        if ($(area).attr("checked") == undefined) {
            if ($("ul[aid='" + $(area).attr("aid") + "']").length != 0) {//本级
                $("ul[aid='" + $(area).attr("aid") + "']").find("input").attr("checked", false);
            }
            var parea = $("input[aid='" + $(area).attr("pid") + "']");//父级
            if (parea.length != 0) {
                parea.attr("checked", false);
                var pparea = $("input[aid='" + parea.attr("pid") + "']");//爷爷级
                if (pparea.length != 0) {
                    pparea.attr("checked", false);
                }
            }
            $("#ckAll").attr("checked", false);//祖宗级
        } else {
            if ($("ul[aid='" + $(area).attr("aid") + "']").length != 0) {//本级
                $("ul[aid='" + $(area).attr("aid") + "']").find("input").attr("checked", "checked");
            }
            var parea = $("input[aid='" + $(area).attr("pid") + "']"); //父级
            if (parea.length != 0) {
                if ($("ul[aid='" + $(area).attr("pid") + "']").find("input").length == $("ul[aid='" + $(area).attr("pid") + "']").find("input:checked").length) { parea.attr("checked", "checked"); }
                var pparea = $("input[aid='" + parea.attr("pid") + "']"); //爷爷级
                if (pparea.length != 0) {
                    if ($("ul[aid='" + parea.attr("pid") + "']").find("input").length == $("ul[aid='" + parea.attr("pid") + "']").find("input:checked").length) { pparea.attr("checked", "checked"); }
                }
            }
            if ($("#selarea input:checked").length == $("#selarea input").length) {
                $("#ckAll").attr("checked", "checked"); //祖宗级
            }
        }
        event.stopPropagation();
    }
    $("form").submit(function () {
        if (subVal()) {
            var a = "";
            if ($("#selarea input:checked").length > 0) {
                $($("#selarea input:checked")).each(function () {
                    if (this.value != "") {
                        a += this.value + ",";
                    }
                });
                $("#txtDeployArea").val(a.substring(0, a.length - 1));
            } else {
                $("#txtDeployArea").val("");
            }
            return true;
        } else {
            return false;
        }
    });
    function subVal() {
        return true;
    }
</script>