@{
    ViewBag.Title = "场所信息详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/CSGL.css" rel="stylesheet" />
@using HCZZ.DAL;
@using HCZZ.ModeDB;
@using HCZZ.Models;
@using HCZZ.Common;
@using System.Data;
<style type="text/css">
    .contentbody .contentInfo table {
        color: #b1b1b1;
        width: 1250px;
        border: 1px solid #2a393a;
        margin: 0 auto;
        background-color: #21222f;
    }

        .contentbody .contentInfo table tr {
            height: 40px;
        }

            .contentbody .contentInfo table tr:nth-child(even) {
                background-color: #21202E;
            }

            .contentbody .contentInfo table tr:nth-child(odd) {
                background-color: #21222F;
            }

            .contentbody .contentInfo table tr th {
                text-align: left;
                padding-left: 50px;
                background-color: #1E1F2D;
                border-bottom: 1px solid #2A393A;
            }

            .contentbody .contentInfo table tr td {
                border-right: 1px solid #2A393A;
                padding-left: 50px;
            }

                .contentbody .contentInfo table tr td .spanTitle {
                    color: #999999;
                }

                .contentbody .contentInfo table tr td .spanText {
                    color: #CCCCCC;
                }

        .contentbody .contentInfo table:nth-child(1) {
            margin-top: 20px;
        }

        .contentbody .contentInfo table:nth-child(2) {
            margin-bottom: 50px;
            border-top: none;
        }

    .btn_SS {
        box-sizing: border-box;
        cursor: pointer;
        width: 250px;
        height: 50px;
        background-color: #1e1f2d;
        color: #7bd2da;
        border: none;
        font: 14px "Î¢ÈíÑÅºÚ";
        background-image: url(/Content/images/save_bg.png);
    }
</style>
<!---xx--->
@using (Html.BeginForm("DetailLoca", "Location", FormMethod.Post))
{
    <div class="contentbody" id="contentbody">
        <div class="contentTitle">
            <span>场所详细信息</span>
            <!--<input class="search" type="button" id="btnXY" value="查询" onclick="myFunction('zbtnXY')" />
            <input class="" type="button" id="" value="+ 添加" />
            <input class="" type="button" id="" value="用户重新认证" />
            <input class="" type="button" id="" value="修改身份认证" />-->
        </div>
        @{
            Loc_NetBarInfo loca = (Loc_NetBarInfo)ViewBag.loca;
            DataTable dt = (DataTable)ViewBag.dt;
            DataTable dtAddress = (DataTable)ViewBag.dtAddress;
            UserInfo user = (UserInfo)Session["userInfo"];
            AreaInfo area = new AreaInfo();
            string supplier = "";
            if (loca.Aid > 0)
            {
                area = new PoliceDAL().GetAreaInfoById(loca.Aid, 0);
            }
            <div class="contentInfo">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr><th colspan="3">原场所详细信息</th></tr>
                        <tr>
                            <td style="width: 33%;">
                                <span class="spanTitle">上网服务场所编码:</span>
                                <span class="spanText">@loca.NETBAR_WACODE</span>
                            </td>
                            <td style="width: 33%;">
                                <span class="spanTitle">上网服务场所名称:</span>
                                <span class="spanText">@loca.PLACE_NAME</span>
                            </td>
                            <td style="width: 34%;">
                                <span class="spanTitle">场所状态:</span>
                                <span class="spanText">@(loca.Statis == 1 ? "营业状态" : "停业状态")</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="spanTitle">场所服务类型:</span>
                                <span class="spanText">@ChangeValue.GetLocaTypeValue(loca.NETSITE_TYPE)</span>
                            </td>
                            <td>
                                <span class="spanTitle">场所网络接入服务商:</span>
                                <span class="spanText">@ChangeValue.GetServiceBusinesValue(loca.OPERATOR_NET)</span>
                            </td>
                            <td>
                                <span class="spanTitle">场所网络接入方式:</span>
                                <span class="spanText">@ChangeValue.GetConnectTypeValue(loca.ACCESS_TYPE)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="spanTitle">场所经营性质:</span>
                                <span class="spanText">
                                    @if (loca.BUSINESS_NATURE == "0")
                                    {
                                        @Html.Raw("经营")
                                    }
                                    else if (loca.BUSINESS_NATURE == "1")
                                    {
                                        @Html.Raw("非经营")
                                    }
                                    else if (loca.BUSINESS_NATURE == "3")
                                    {
                                        @Html.Raw("其他")
                                    }
                                </span>
                            </td>
                            <td>
                                <span class="spanTitle">营业开始时间:</span>
                                <span class="spanText">@loca.START_TIME</span>
                            </td>
                            <td>
                                <span class="spanTitle">经营法人有效证件类型:</span>
                                <span class="spanText">
                                    @{
                                        Dictionary<string, string> dic = ChangeValue.GetCertifiCateList();
                                        foreach (var item in dic)
                                        {
                                            if (item.Key == loca.LAW_PRINCIPAL_CERTIFICATE_TYPE)
                                            {
                                                @Html.Raw(item.Value);
                                            }
                                        }
                                    }
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="spanTitle">场所经营法人:</span>
                                <span class="spanText">@loca.LAW_PRINCIPAL_NAME</span>
                            </td>
                            <td>
                                <span class="spanTitle">营业结束时间:</span>
                                <span class="spanText">@loca.END_TIME</span>
                            </td>
                            <td>
                                <span class="spanTitle">经营法人有效证件号码:</span>
                                <span class="spanText">@loca.LAW_PRINCIPAL_CERTIFICATE_ID</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="spanTitle">联系方式:</span>
                                <span class="spanText">@loca.RELATIONSHIP_ACCOUNT</span>
                            </td>
                            <td>
                                <span class="spanTitle">安全厂商组织机构代码:</span>
                                <span class="spanText">@loca.SECURITY_SOFTWARE_ORGCODE</span>
                            </td>
                            <td>
                                <span class="spanTitle">厂商数据来源:</span>
                                <span class="spanText">@loca.SECURITY_SOFTWARE_ORGNAME</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="spanTitle">备案时间:</span>
                                <span class="spanText">@loca.Createtime</span>
                            </td>
                            <td>
                                <span class="spanTitle">经纬度:</span>
                                <span class="spanText">@(loca.LATITUDE != "0" && loca.LATITUDE != "" && loca.LONGITUDE != "0" ? (loca.LONGITUDE + "," + loca.LATITUDE) : "")</span>
                            </td>
                            <td>
                                <span class="spanTitle"></span>
                                <span class="spanText"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @if (user.Type == 1 || user.Type == 8)
                {
                    if (dt != null && dt.Rows.Count > 0)
                    {
                        AreaInfo areaVer = new AreaInfo();
                        if (dt.Rows[0]["Aid"] != null && Convert.ToInt32(dt.Rows[0]["Aid"]) > 0)
                        {
                            areaVer = new PoliceDAL().GetAreaInfoById(Convert.ToInt32(dt.Rows[0]["Aid"]), 0);
                        }
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr><th colspan="3">待审核数据</th></tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <span class="spanTitle">场所详细地址:</span>
                                        <span class="spanText">@dt.Rows[0]["SITE_ADDRESS"]</span>
                                    </td>
                                    <td style="width: 33%;">
                                        <span class="spanTitle">所属区域:</span>
                                        <span class="spanText">
                                            @* @dt.Rows[0]["Pro"] @dt.Rows[0]["City"] @dt.Rows[0]["Area"] @dt.Rows[0]["SName"] @dt.Rows[0]["PName"]*@
                                            @if (areaVer != null)
                                            {
                                                @areaVer.PName @areaVer.CName @areaVer.Area @dt.Rows[0]["SITE_ADDRESS"] @dt.Rows[0]["SName"]
                                            }
                                            @*@{
                                                    if (dtAddress != null && dtAddress.Rows.Count > 0)
                                                    {
                                                        @dtAddress.Rows[0]["Pro"] @dtAddress.Rows[0]["City"] @dtAddress.Rows[0]["Area"] @dtAddress.Rows[0]["SName"] @dtAddress.Rows[0]["PName"]
                                                    }
                                                }*@
                                        </span>
                                    </td>S
                                    <td style="width: 34%;">
                                        <span class="spanTitle">上网服务场所编码：</span>
                                        <span class="spanText">@dt.Rows[0]["NETBAR_WACODE"]</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <span class="spanTitle">上网服务场所名称：</span>
                                        <span class="spanText">@dt.Rows[0]["PLACE_NAME"]</span>
                                    </td>
                                    <td style="width: 33%;">
                                        <span class="spanTitle">所属区域:</span>
                                        <span class="spanText">
                                            @if (areaVer != null)
                                            {
                                                @areaVer.PName @areaVer.CName @areaVer.Area @dt.Rows[0]["PName"] @dt.Rows[0]["SName"]
                                            }
                                        </span>
                                    </td>
                                    <td style="width: 34%;">
                                        <span class="spanTitle">上网服务场所编码：</span>
                                        <span class="spanText">@dt.Rows[0]["NETBAR_WACODE"]</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <span class="spanTitle">场所经营法人：</span>
                                        <span class="spanText">@dt.Rows[0]["LAW_PRINCIPAL_NAME"]</span>
                                    </td>
                                    <td style="width: 33%;">
                                        <span class="spanTitle"> 联系方式:</span>
                                        <span class="spanText">
                                            @dt.Rows[0]["RELATIONSHIP_ACCOUNT"]
                                        </span>
                                    </td>
                                    <td style="width: 34%;">
                                        <span class="spanTitle">上网服务场所编码：</span>
                                        <span class="spanText">@dt.Rows[0]["NETBAR_WACODE"]</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                   <!--<table cellspacing="0" cellpadding="0" border="0">
                        <tr><th colspan="3">审核</th></tr>
                        <tr>
                            <td>
                                <label>
                                    <input type="radio" @(loca.Verified < 3 ? "checked=checked" : "") @(loca.Verified == 3 ? "checked=checked" : "") value="3" name="radVerified" />通过
                                </label>
                                <label>
                                    <input type="radio" @(loca.Verified == 4 ? "checked=checked" : "") value="4" name="radVerified" />不通过
                                </label>@*<span class="color_ccc">*</span>*@
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="6">
                                @if (dt != null && dt.Rows.Count > 0)
                                {
                                    <input class="btn_SS" type="button" name="button" onclick="javascript:location.href='@Url.Content("~/Location/EditLocation/" + loca.ID)'" value="编辑审核"
                                           onmouseover="this.className='Over_SS'"
                                           onmouseout="this.className='Onout_SS'" />
                                }
                                <input class="btn_SS" type="submit" name="button" value="保存"/><input type="hidden" name="HLid" id="HLid" value="@loca.ID" />
                            </td>
                        </tr>

                    </table>--> 

                }
                else
                {
                   <!--<table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td align="right">
                                审核：
                            </td>
                            <td>
                                @if (loca.Verified == 3)
                                {@Html.Raw("审核通过") }
                                else if (loca.Verified == 4)
                                { @Html.Raw("审核失败")}
                                else if (loca.Verified == 1)
                                {@Html.Raw("待审核") }
                            </td>
                            <td align="right"></td>
                            <td></td>
                            <td align="right"></td>
                            <td></td>
                        </tr>
                    </table>--> 
                }
            </div> }

    </div>
                                        }