@{
    ViewBag.Title = "一键查询结果";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}
@using HCZZ.Common;
@using Webdiyer.WebControls.Mvc;
@using System.Collections.Generic
@using HCZZ.ModeDB
@{
    Dictionary<string, string> dic = (Dictionary<string, string>)ViewBag.dic;
    string TypeVal = ChangeValue.RefRadVal(Convert.ToInt32(dic["TypeVal"]));
    string KeyWord = dic["KeyWord"];
    string message = string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Content/js/jquery-1.7.1.min.js"></script>
    <script src="@Url.Content("~/Content/js/jquery.js")" type="text/javascript"></script>
    <link href="~/Content/css/YJCX_CXJG.css" rel="stylesheet" />
    <script src="~/Content/layer/layer.js"></script>
    <script>
        function taboffset() {
            $("html, body").animate({
                scrollTop: $("#tab1").offset().top
            }, { duration: 500, easing: "swing" });
        }
    </script>
</head>
<body>
    <div class="content">
        <div class="contentbody" id="contentbody">
            <div class="contentTopNav">
                <div class="contentYJFXLi1">
                    <span id="sp" value="@dic["TypeVal"]">@TypeVal</span>
                    <input class="contentYJFXLi1Down" name="" id="contentYJFXLi1Down" onclick="myFunction('contentYJFXLi1DownData')" value="" type="button">
                    <input class="contentYJFXLi1Text" name="KeyWord" id="KeyWord" value="@KeyWord" type="text">
                    <ul class="contentYJFXLi1DownData" id="contentYJFXLi1DownData" style="display: none;">
                        <li onclick="myFunction2(this)" value="1"><span class="spanText1">实名信息</span></li>
                        <li onclick="myFunction2(this)" value="2"><span class="spanText2">虚拟身份</span></li>
                        <li onclick="myFunction2(this)" value="3"><span class="spanText3">硬件特征</span></li>
                    </ul>
                </div>
                <input class="sBtn" id="selectBtn" value="搜索" type="button">
            </div>
            <div class="contentTable">
                <table cellspacing="0" cellpadding="0" border="0" id="table1">
                    <tbody>
                        <tr>
                            @switch (TypeVal)
                            {
                                case "实名信息":
                                    <th>手机号码</th>
                                    break;
                                case "虚拟身份":
                                    <th>Mac地址</th>
                                    <th>手机号码</th>
                                    <th>虚拟身份</th>
                                    <th>虚拟身份类型</th>
                                    break;
                                case "硬件特征":
                                    <th>终端MAC地址</th>
                                    break;
                                default:
                                    break;
                            }
                            <th>详细</th>
                        </tr>
                        @{
                            PagedList<DatasInfo> list = (PagedList<DatasInfo>)ViewBag.pl;
                            if (list != null && list.Count > 0)
                            {
                                foreach (var item in list)
                                {
                                    <tr style="">
                                        @switch (TypeVal)
                                        {
                                            case "实名信息":
                                                message = (Convert.ToInt32(dic["TypeVal"]) == 1 ? item.AUTH_ACCOUNT : item.MAC);
                                                <td>@message</td>
                                                <td><img onclick="TableShow('@dic["TypeVal"]','@item.AUTH_ACCOUNT');tablea(this)" title="详细" src="@Url.Content("~/Content/images/view1_icon.png")" alt="详细"></td>
                                                break;
                                            case "虚拟身份":
                                                <td>@item.MAC</td>
                                                <td>@item.AUTH_ACCOUNT<span style="display: none">@item.MAC</span></td>
                                                <td>@item.NETWORK_APP_VALUES</td>
                                                <td>@ChangeValue.GetDetailHttpLog(item.NETWORK_APP.ToString())</td>
                                                <td><img onclick="TableShow('@dic["TypeVal"]','@item.MAC');tablea(this)" title="详细" src="@Url.Content("~/Content/images/view1_icon.png")" alt="详细"></td>
                                                break;
                                            case "硬件特征":
                                                message = (Convert.ToInt32(dic["TypeVal"]) == 1 ? item.AUTH_ACCOUNT : item.MAC);
                                                <td>@message</td>
                                                <td><img onclick="TableShow('@dic["TypeVal"]','@item.MAC');tablea(this)" title="详细" src="@Url.Content("~/Content/images/view1_icon.png")" alt="详细"></td>
                                                break;
                                            default:
                                                break;
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th style="border:none;">暂无数据</th>
                                    <th style="border:none;"></th>
                                    <th style="border:none;"></th>
                                    <th style="border:none;"></th>
                                    <th></th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @if (list != null && list.Count > 0)
                {
                    @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", list }, { "pageindex", "PageIndex" } })
                    <div class="contentTitle">
                        <ul class="ulTable">
                            <li class="" value="1">实名信息</li>
                            <li class="" value="2">虚拟身份</li>
                            <li class="" value="3">硬件特征</li>
                            <li class="" value="4">上下线信息</li>
                        </ul>
                    </div>
                }
                <div id="tab1">
                    <table cellpadding="0" cellspacing="0" class="Cx_tab">
                        <tr>
                            <td id="td">数据正在加载……</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="Bk" id="Bk">
        </div>
    </div>
</body>
</html>
<script>
    var val = "";
    $(".ulTable li").click(function () {
        //给选中的标签加上样式，同时删除其他同级元素样式。
        $(this).addClass("active").siblings().removeClass("active");
        var TypeVal = $(this).attr("value");
        TableShow(TypeVal, val);
    })
    //向上向下反复点击伸缩
    function myFunction(e) {
        $('#' + e).toggle(200);
    };
    function myFunction2(e) {
        $('#contentYJFXLi1DownData').toggle(100);
        $("#sp").html($(e).find("span")[0].innerText);
        $("#sp").attr("value", $(e).attr("value"));
    };
    $(function () {
        var tr = $("#table1 tr").get(1);
        $(tr).css("background", "#222A36");
        OnTableShowCalss('@dic["TypeVal"]');
        val = $("table tr td").get(0).textContent;
        if ($("#table1 tr").length > 1) {
            TableShow('@dic["TypeVal"]', val);
        }
        //$("table")
    })
    $("#selectBtn").click(function () {
        if ($("#KeyWord").val() == "") {
            alert("请输入搜索关键字");
        } else if ($("#KeyWord").val().length < 3) {
            alert("查询条件最少三位数");
        } else if (($("#sp").attr("value") == "1") && $("#KeyWord").val().length > 11) {
            alert("手机号码最大长度为11位");
        } else if (($("#sp").attr("value") == "3") && $("#KeyWord").val().length > 17) {
            alert("硬件特征最大长度为17位");
        } else {
            showDown();
            window.location.href = '@Url.Content("~/Search/Result?Id=")' + $("#sp").attr("value") + "&KeyWord=" + $("#KeyWord").val();
        }
    })
    function TableShow(tabtype, keyval) {
        showDown();
        OnTableShowCalss(tabtype);
        val = keyval;
        $("#tab1").load("@Url.Content("~/Public/TableShow?dataType=")" + @dic["TypeVal"] + "&tabType=" + tabtype + "&keyWord=" + keyval);
        taboffset();
    }
    //执行异步分页
    function loadPage(ev, url) {
        showDown();
        var hrefUrl = "";
        var doc = $(ev)[0];
        var a = $(doc).children();
        var val = a.attr("data-pageindex");
        $(a).removeAttr("data-pageindex").attr("data-ajax-update", val)
        if (url == "1") {
            hrefUrl = $(a).attr("href");
        } else {
            hrefUrl = url;
        }
        $("#tab1").load(hrefUrl);
        setTimeout(function () { closeDown(); }, 2000);//没有页码隔2秒关闭蒙板
        return false;
    }
    function OnTableShowCalss(index) {
        $(".ulTable li").each(function () {
            if ($(this).val() == index) {
                $(this).addClass("active").siblings().removeClass("active");
            }
        })
    }
    function tablea(obj) {
        $(obj).parent().parent().css("background", "#222A36").siblings().css("background", "#1E1F2D")
    }
    var i = 0;
    $('div[data-ajax-update="#contentTable"]').children().each(function () {
        var obj = $('div[data-ajax-update="#contentTable"]').children()[i];
        if ($(obj).text() == "...") {
            $(obj).wrap("<li class=\"ulPageNo\" style=\"width:28px;\" ></li>")
        }
        Number(i++);
    })
</script>
