@{
    Layout = null;
}
<!DOCTYPE html>
@using HCZZ.ModeDB
<head>
    <title></title>
    @*<link href="@Url.Content("~/Content/css/index.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/css/reset1.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <style type="text/css">
        .pupMain {
            width: 510px;
            height: 375px;
            background-color: #161523;
            margin: 0 auto;
        }

        .title {
            width: 510px;
            height: 65px;
            background-image: url(/Content/images/title_bg.png);
            line-height: 65px;
        }

            .title span:first-child {
                float: left;
                color: #b1b1b1;
                font: 20px "微软雅黑";
                margin-left: 20px;
                margin-top: 19.5px;
            }

            .title span:last-child {
                float: right;
                margin-right: 23px;
                cursor: pointer;
                margin-top:5PX
            }

            .title span img {
                width: 15px;
                height: 15px;
            }

        .pupMain ul li:nth-child(2) {
            margin-left: 50px;
            margin-top: 25px;
            text-align: left;
        }

            .pupMain ul li:nth-child(2) span {
                color: #4D7681;
                font: 14px "微软雅黑";
            }

                .pupMain ul li:nth-child(2) span:first-child {
                    margin-left: 26px;
                }

                .pupMain ul li:nth-child(2) span:last-child {
                    margin-left: 168px;
                }

        .pupMain ul li:nth-child(3) {
            margin-top: 20px;
            text-align: center;
        }

            .pupMain ul li:nth-child(3) input {
                box-sizing: border-box;
                padding-left: 15px;
                width: 360px;
                height: 50px;
                background-color: #1e1f2d;
                border: 1px solid #263738;
                color: #4D7681;
                font: 14px "微软雅黑";
            }

            .pupMain ul li:nth-child(3) span {
                position: absolute;
                top: 145px;
                right: 50px;
            }

        .pupMain ul li:nth-child(4) {
            margin-top: 30px;
            text-align: center;
        }

            .pupMain ul li:nth-child(4) input {
                box-sizing: border-box;
                padding-left: 15px;
                width: 360px;
                height: 50px;
                background-color: #1e1f2d;
                border: 1px solid #263738;
                color: #4D7681;
                font: 14px "微软雅黑";
            }

            .pupMain ul li:nth-child(4) span {
                position: absolute;
                top: 225px;
                right: 50px;
            }

        .pupMain ul li:nth-child(5) {
            text-align: center;
        }

            .pupMain ul li:nth-child(5) input {
                box-sizing: border-box;
                cursor: pointer;
                width: 360px;
                height: 50px;
                background-color: #1e1f2d;
                color: #7bd2da;
                border: none;
                font: 14px "微软雅黑";
                background-image: url(/Content/images/save_bg.png);
            }

        .spanTextHint {
            margin-top: 8px;
            margin-bottom: 12px;
            color: #AA301C;
            display: inline-block;
            width:360px;
            text-align: left;
            padding-left: 7px;
        }
    </style>
</head>
@{AreaInfo area = (AreaInfo)ViewBag.area;}
@using (Html.BeginForm("AddArea", "System", FormMethod.Post))
{
    @*<div class="Pop_layer" style="float:left ;">
        <div class="aq_title">
            <div class="TT_left"></div>
            <div class="TT_right"></div>
            <div class="img_close" onclick="javascript:parent.closeDiv()"></div>
            添加区
        </div>
            <input type="hidden" name="Hpid" value="@(area != null ? area.ID : 0)" />
            <input type="hidden" name="Hproid" value="@(area != null ? area.Pid : 0)" />
            <div class="aq_tab aq_overflow2">
                 <table cellpadding="0" cellspacing="1" width="100%" class="aq_XxTab">
                    <tr>
                        <td width="20%" align="right">省名称：</td>
                        <td width="30%">@(area != null ? area.PName : "")</td>
                    </tr>
                    <tr>
                        <td width="20%" align="right">市名称：</td>
                        <td width="30%">@(area != null ? area.Area : "")</td>
                    </tr>
                    <tr>
                        <td width="20%" align="right">区名称：</td>
                        <td width="30%"><input type="text" class="_text" name="txtArea" maxlength="25" id="txtArea" /><span id="spArea" class="color_ccc">*</span></td>
                    </tr>
                    <tr>
                    <td align="right">区代码：</td>
                    <td><input type="text" id="txtCity_code" name="txtCity_code"  maxlength="6" class="_text" /><span id="spCity_code" class="color_ccc">*例如：黄浦区，310101</span></td>
                    </tr>
                </table>
            </div>
            <div class="aq_foot">
                <input class="btn_SS" type="submit" name="button"  value="保存";/>
            </div>
            </div>*@
    <div class="pupMain">
        <input type="hidden" name="Hpid" value="@(area != null ? area.ID : 0)" />
        <input type="hidden" name="Hproid" value="@(area != null ? area.Pid : 0)" />
        <ul>
            <li class="title">
                <span>添加区</span>
                <span onclick="layerClose()"><img src="~/Content/images/icon_close.png" /></span>
            </li>
            <li>
                <span>省名称:@(area != null ? area.PName : "")</span><span>市名称:@(area != null ? area.Area : "")</span>
            </li>
            <li>
                <input type="text" name="txtArea" id="txtArea" value="区名称" /><span><img src="~/Content/images/star.png" /></span>
            </li>
            <li>
                <input type="text" name="txtCity_code" id="txtCity_code" value="区代码" /><span><img src="~/Content/images/star.png" /></span>
            </li>
            <li>
                <span class="spanTextHint">例如：黄浦区，310101</span>
                <input type="submit" name="" id="" value="保存" />
            </li>
        </ul>
    </div>
}

<script type="text/javascript">
    function pageSubmit() {
        var result = true;
        if ($.trim($("#txtArea").val()) == "") {
            result = false;
            $("#spArea").html("区名称不能为空");
        } else {
            $("#spArea").html("");
        }
        var reg = new RegExp(/\d+$/);
        if ($.trim($("#txtCity_code").val()) != "" && !reg.test($.trim($("#txtCity_code").val()))) {
            result = false;
            $("#spCity_code").html("区域代码格式不正确");
        } else {
            $("#spCity_code").html("");
        }
        return result;
    }

    $(function () {
        $("form").submit(function () {
            if (pageSubmit()) {
                return true;
            }
            return false;
        });
    });
    $("#txtArea").focus(function () {
        if ($(this).val() == "区名称") {
            $(this).val("");
        }
    })
    $("#txtArea").blur(function () {
        if ($(this).val() == "") {
            $(this).val("区名称");
        }
    })
    $("#txtCity_code").focus(function () {
        if ($(this).val() == "区代码") {
            $(this).val("");
        }
    })
    $("#txtCity_code").blur(function () {
        if ($(this).val() == "") {
            $(this).val("区代码");
        }
    })
    //点击弹窗中的某个元素关闭自身（弹窗）
    function layerClose() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
