@{
    ViewBag.Title = "添加角色";
    Layout = null;
}
<link href="~/Content/css/reset.css" rel="stylesheet"/>
<script src="~/Content/js/jquery-1.7.1.min.js"></script>
<style>
        .But_css{
        box-sizing: border-box;
    cursor: pointer;
    width: 360px;
    height: 50px;
    background-color: #1e1f2d;
    color: #7bd2da;
    border: none;
    font: 14px "微软雅黑";
    background-image: url(/Content/images/save_bg.png);
    }
</style>
<body>
    <div class="pupMain" style="height:350px">
        <ul>
            <li class="title">
                <span>新建角色</span>
                <span onclick="layerClose()"><img src="@Url.Content("~/Content/images/icon_close.png")" /></span>
            </li>
            <li>
                <input type="text" class="_text" name="txtName" maxlength="30" id="txtName" value="" />@*<span><img src="images/star.png" /></span>*@
            </li>
            @*<li><span class="color_ccc" id="spName">*</span></li>*@
            <li>
                <select  style="box-sizing: border-box;padding-left: 15px;background-image: url(../images/fhasjklfghhjko.png);width: 360px;height: 50px;background-color: #1e1f2d;border: 1px solid #263738;color: #7bd2da;font: 14px " 微软雅黑";"="" id="selUserType" name="selUserType">
                    <option value="0">==请选择==</option>
                    @{
                        Dictionary<int, string> UserType_dic =HCZZ.Common.ChangeValue.UserListDIC();
                        foreach (var item in UserType_dic)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </li>
            <li style="text-align: center;margin-top:30px;">
                <input class="But_css" type="button" onclick="SaveVal()" name="button" value="保存" />
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    function SaveVal() {
        if (ckVal()) {
            $.ajax
            ({
                type: "post",
                url: '@Url.Content("~/System/AddRole")',
                dataType: "json",
                data: {
                    "name": $("#txtName").val(),
                    "UserType": $("#selUserType").val()
                },
                success: function (data, status) {
                    if (typeof (data.err) != 'undefined' && data.err != "") {
                        alert(data.err);
                    } else {
                        if (data.result == "OK") {
                            alert("添加成功");
                            parent.window.location.href = '@Url.Content("~/System/RoleList")';
                        } else if (data.result == "NO") {
                            alert("添加失败");
                        }
                    }
                },
                error: function (data, status, e) {
                    alert(e);
                }
            });
        }
    }
    function ckVal() {
        var result = true;

        if ($("#txtName").val() == "" || $("#txtName").val() == "角色名称不能为空") {
            $("#txtName").val("角色名称不能为空"); result = false;
        } else {
            $("#spName").html("&nbsp;");
        }
        return result;
    }
    $("#txtName").focus(function () {
        if ($(this).val() == '角色名称不能为空') {
            $(this).val("")
        }
    });
    $("#txtName").blur(function () {
        if ($(this).val() == "") {
            $(this).val("角色名称不能为空")
        }
    });
    //点击弹窗中的某个元素关闭自身（弹窗）
    function layerClose() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
