@{
    Layout = null;
}
@using HCZZ.ModeDB

<head>
    <title></title>
    <link href="@Url.Content("~/Content/css/reset1.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <style type="text/css">
        .pupMain {
            width: 700px;
            height: 375px;
            background-color: #161523;
            margin: 0 auto;
        }

        .title {
            width: 700px;
            height: 65px;
            background-image: url(/Content/images/title_bg.png);
            background-size: 100% 100%;
            line-height: 65px;
        }

            .title span:first-child {
                float: left;
                color: #b1b1b1;
                font: 20px "微软雅黑";
                margin-left: 20px;
                margin-top: 19.5px;
            }

            .title span:last-child {
                float: right;
                margin-right: 23px;
                cursor: pointer;
                margin-top:25px
            }

            .title span img {
                width: 15px;
                height: 15px;
            }

        .pupMain ul li:nth-child(2) {
            margin-left: 50px;
            margin-top: 25px;
            text-align: left;
        }

            .pupMain ul li:nth-child(2) span {
                color: #4D7681;
                font: 14px "微软雅黑";
            }

                .pupMain ul li:nth-child(2) span:first-child {
                    margin-left: -4px;
                }

                .pupMain ul li:nth-child(2) span:nth-child(2) {
                    margin-left: 60px;
                }

                .pupMain ul li:nth-child(2) span:nth-child(3) {
                    margin-left: 60px;
                }

                .pupMain ul li:nth-child(2) span:last-child {
                    margin-left: 60px;
                }

        .pupMain ul li:nth-child(3) {
            margin-top: 20px;
            text-align: center;
        }

            .pupMain ul li:nth-child(3) input {
                box-sizing: border-box;
                padding-left: 15px;
                width: 360px;
                height: 50px;
                background-color: #1e1f2d;
                border: 1px solid #263738;
                color: #4D7681;
                font: 14px "微软雅黑";
            }

            .pupMain ul li:nth-child(3) span {
                position: absolute;
                top: 131px;
                right: 50px;
            }

        .pupMain ul li:nth-child(4) {
            margin-top: 30px;
            text-align: center;
        }

            .pupMain ul li:nth-child(4) input {
                box-sizing: border-box;
                padding-left: 15px;
                width: 360px;
                height: 50px;
                background-color: #1e1f2d;
                border: 1px solid #263738;
                color: #4D7681;
                font: 14px "微软雅黑";
            }

            .pupMain ul li:nth-child(4) span {
                position: absolute;
                top: 131px;
                right: 50px;
            }

        .pupMain ul li:nth-child(5) {
            text-align: center;
            margin-top: 30px;
        }

            .pupMain ul li:nth-child(5) input {
                box-sizing: border-box;
                cursor: pointer;
                width: 360px;
                height: 50px;
                background-color: #1e1f2d;
                color: #7bd2da;
                border: none;
                font: 14px "微软雅黑";
            }

                .pupMain ul li:nth-child(5) input.BCTJbtn {
                    width: 290px;
                    background-image: url(/Content/images/save_bg.png);
                }

                .pupMain ul li:nth-child(5) input.resetBtn {
                    width: 290px;
                    margin-left: 25px;
                    background-color: #21252F;
                }

        .spanTextHint {
            margin-top: 8px;
            margin-bottom: 12px;
            color: #AA301C;
            display: inline-block;
            width: 100%;
            text-align: left;
            padding-left: 77px;
        }
    </style>
</head>
	
    @using (Html.BeginForm("AddScenicInfo", "System", FormMethod.Post))
    {
        PoliceInfo police = (PoliceInfo)ViewBag.police;
        @*<div class="Pop_layer" style="float:left ;"> 
		<div class="aq_title">
			<div class="TT_left"></div>
			<div class="TT_right"></div> 
			<div class="img_close" onclick="javascript:parent.closeDiv()"></div>
				添加警区
		</div>  
        <input type="hidden" name="HidPid" value="@(police != null ? police.ID : 0)" />
         <div class="aq_tab aq_overflow2"> 
 		    <table cellpadding="0" cellspacing="1" width="100%" class="aq_XxTab">
                @{
                                              if (police != null)
                                              {
                        <tr>
				            <td width="20%" align="right">省名称：</td>
				            <td width="30%">@(police != null ? police.PName : "")</td>   
			            </tr>
                        <tr>
				            <td align="right">市名称：</td>
				            <td >@(police != null ? police.CName : "")</td>   
			            </tr>
                        <tr>
				            <td align="right">区名称：</td>
				            <td >@(police != null ? police.Area : "")</td>   
			            </tr>
                        <tr>
				            <td align="right">派出所名称：</td>
				            <td >&nbsp;@police.Name</td>  
			            </tr>
                        <tr>
				            <td align="right">警区名称：</td>
				            <td ><input type="text" id="txtName" name="txtName" class="_text"  maxlength="20"/><span id="spName" class="color_ccc">*</span></td>  
			            </tr>
                        <tr>
				            <td align="right">警区地址：</td>
				            <td ><input type="text" id="txtAddress" name="txtAddress" class="_text"  maxlength="30"/><span id="spAddress" class="color_ccc"></span></td>  
			            </tr>
			            <tr>
				            <td align="right">联系人：</td>
				            <td ><input type="text" id="txtContact" name="txtContact" class="_text"  maxlength="15"/><span id="spContcat" class="color_ccc"></span></td>  
			            </tr>
			            <tr>
				            <td align="right">联系电话：</td>
				            <td ><input type="text" id="txtMobile" name="txtMobile" class="_text"  maxlength="13"/><span id="spMobile" class="color_ccc"></span></td>  
			            </tr>
                                              }
                }
                </table>
            </div> 
            <div class="aq_foot"> 
				<input class="btn_SS" type="submit" name="button" value="保存"/>
            </div>
        </div>*@
        <div class="pupMain">
            <input type="hidden" name="HidPid" value="@(police != null ? police.ID : 0)" />
            @if (police != null)
            {
                <ul>
                    <li class="title">
                        <span>添加警区</span>
                        <span><img src="~/Content/images/icon_close.png" onclick="layerClose()"/></span>
                    </li>
                    <li>
                        <span>省名称:@(police != null ? police.PName : "")</span><span>市名称:@(police != null ? police.CName : "")</span><span>区名称:@(police != null ? police.Area : "")</span><span>派出所名称:@police.Name</span>
                    </li>
                    <li>
                        @*<span><img src="images/star.png" /></span>*@
                        <input style="width: 190px;" type="text" name="txtName" id="txtName" value="警区名称" />
                        <input style="width: 190px;margin-left: 15px;" type="text" name="txtContact" id="txtContact" value="联系人" />
                        <input style="width: 190px;margin-left: 15px;" type="text" name="txtMobile" id="txtMobile" value="联系电话" />
                    </li>
                    <li>
                        <input style="width: 602px;" type="text" name="txtAddress" id="txtAddress" value="警区地址" />
                    </li>
                    <li>
                        <input class="BCTJbtn" type="submit" name="" id="" value="保存添加" />
                        <input class="resetBtn" type="reset" name="" id="" value="重置" />
                    </li>
                </ul>
            }
        </div>
    }
      <script type="text/javascript">
        function pageSubmit() {
            var result = true;
            if ($.trim($("#txtName").val()) == "") {
                result = false;
               alert("警区名称不能为空");
            } else {
                $("#spName").html("");
            }
            var reg = new RegExp(/\d+$/);
            if ($.trim($("#txtMobile").val()) != "" && !reg.test($.trim($("#txtMobile").val()))) {
                result = false;
               alert("联系电话格式不正确");
            } else {
                $("#spMobile").html("");
            }
            return result;
        }
        $("#txtName").focus(function () {
            if ($(this).val() == "警区名称") {
                $(this).val("");
            }
        })
        $("#txtName").blur(function () {
            if ($(this).val() == "") {
                $(this).val("警区名称");
            }
        })
        $("#txtMobile").focus(function () {
            if ($(this).val() == "联系电话") {
                $(this).val("");
            }
        })
        $("#txtMobile").blur(function () {
            if ($(this).val() == "") {
                $(this).val("联系电话");
            }
        })
        $("#txtContact").focus(function () {
            if ($(this).val() == "联系人") {
                $(this).val("");
            }
        })
        $("#txtContact").blur(function () {
            if ($(this).val() == "") {
                $(this).val("联系人");
            }
        })
        $("#txtAddress").focus(function () {
            if ($(this).val() == "警区地址") {
                $(this).val("");
            }
        })
        $("#txtAddress").blur(function () {
            if ($(this).val() == "") {
                $(this).val("警区地址");
            }
        })

        $(function () {
            $("form").submit(function () {
                if (pageSubmit()) {
                    return true;
                }
                return false;
            });
        });
        //点击弹窗中的某个元素关闭自身（弹窗）
        function layerClose() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
            </script>

