@{
    ViewBag.Title = "系统设置-区域管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/css/publicHeader.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/XTGL.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/XTGL_QYGL.css")" rel="stylesheet" />
<style>
    <style>
     .contentTable {
    }

        .contentTable table {
            width: 100%;
        }

            .contentTable table tr {
                border-bottom: 1px solid #181926;
                height: 40px;
            }

                .contentTable table tr:nth-child(even) {
                    background-color: #20212e;
                }

                .contentTable table tr:nth-child(odd) {
                    background-color: #21222f;
                }

                .contentTable table tr:first-child {
                    background-color: #1E1F2D;
                }

                .contentTable table tr th {
                    text-align: left;
                    padding-left: 15px;
                    border-right: 2px solid rgb(24, 25, 38);
                    color: #85858A;
                    font-family: "微软雅黑";
                    font-size: 13px;
                }

                .contentTable table tr td {
                    text-align: left;
                    padding-left: 15px;
                    border-right: 2px solid rgb(24, 25, 38);
                    color: #85858A;
                    font-family: "微软雅黑";
                    font-size: 12px;
                }
                .contentTable table tr:hover{background-color: #222a36;}
                .contentTable table tr:first-child:hover {
                    background-color: #1E1F2D;
                }
</style>
</style>
@using System.Collections.Generic
@using HCZZ.Common
@using HCZZ.DAL
@using HCZZ.ModeDB
@using Webdiyer.WebControls.Mvc
@using (Html.BeginForm("AreaManageInfoList", "System", new { @Id = 1 }, FormMethod.Get))
{
    UserInfo user = (UserInfo)Session["userInfo"];
    string relaVal = ChangeValue.RefPageRelaByPath("System/AreaManageInfoList");
    Dictionary<string, string>
        dic = (Dictionary<string, string>
            )ViewBag.dic;
            <div class="contentbody" id="contentbody">
                <div class="contentTitle">
                    <span>查询条件和按钮区</span>
                    <input class="search" type="button" id="BtnSelect" onclick="myFunction(this, 'contentConditions')" value="隐藏" />
                    @if (relaVal.Contains("2"))
            {
                        @*<input class="add" type="button" id="" value="+ 添加省" onclick="javascript:location.replace('@Url.Content("~/System/AddProArea")')" />*@
                        <input class="add" type="button" id="" value="+ 添加省" onclick="AlertShow(510, 375, 'AddProArea')" />
                    }
                </div>
                <div class="contentConditions" style="height:76px">
                    <ul>
                        <li class="Conditions Conditions1">
                            <span>省名称：</span>
                            <select name="selName" id="selName">
                                <option value="1">模糊</option>
                                <option value="2">精确</option>
                            </select>
                            <input type="text" id="txtName" name="txtName" value="@dic["txtName"]" />
                        </li>
                        <li class="Conditions Conditions6">
                            <input class="selectbg" type="submit" id="but_Seek" value="搜索" />
                            <input class="resetbg" type="reset" value="重置" onclick="Reset()" />
                        </li>
                    </ul>
                </div>
                <div class="contentTable" id="taskManagementId">
                    <table class="djsTable" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th style="width: 10%;">序号</th>
                            <th style="width: 25%;">名称</th>
                            <th style="width: 40%;">省代码</th>
                            <th style="width: 25%;">操作</th>
                        </tr>
                    </table>
                </div>
                <div class="contentTable">
                    <table border="0" cellspacing="0" cellpadding="0">
                        @{
                            PagedList<AreaInfo> list = (PagedList<AreaInfo>)ViewBag.Pro;
                            if (list != null && list.Count > 0)
                            {
                                foreach (AreaInfo item in list)
                                {
                                    <tr>
                                        <td style="width: 10%;">@item.PageNum</td>
                                        <td style="width: 25%;">@item.Area</td>
                                        <td style="width: 40%;">@item.City_code</td>
                                        <td style="width: 25%;">
                                            @if (relaVal.Contains("1"))
                                            {
                                                <span><a class="Cz_Wenzi" href="@Url.Content("~/System/AreaManageCityInfoList/" + item.ID)" title="市列表" style="color:green">市列表</a></span>
                                            }
                                            @if (relaVal.Contains("2"))
                                            {
                                                <a class="Cz_bianji" href="#" onclick="AlertShow(510,375,'@Url.Content("~/System/EditProArea/" + item.ID)')">
                                                    <img title="编辑" src="@Url.Content("~/Content/images/edit1_icon.png")" alt="编辑" />
                                                </a>
                                            }
                                            @if (relaVal.Contains("3"))
                                            {
                                                if (item.Num == 0)
                                                {
                                                    <a class="Cz_shanchu" href="javascript:void(0)" onclick="del('@item.ID','AreaManage')">
                                                        <img title="删除" src="@Url.Content("~/Content/images/del1_icon.png")" alt="删除" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="Cz_shanchu">
                                                        <img title="删除" src="@Url.Content("~/Content/images/del_icon.png")" alt="删除" />
                                                    </a>
                                                }

                                            }
                                           
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                    @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", list }, { "pageindex", "PageIndex" } })
                </div>
            </div>
            <script type="text/javascript">
                function del(obj, key, key1) {
                    if (confirm("确定要删除吗？")) {
                        location.href = "/System/DelProArea?Id=" + obj + "&key=" + key + "&key1=" + obj;
                    }
                }
                $(function () {
                    $("#selName").val("@dic["selName"]");
                })
                $("form1").submit(function () {
                    if ($("input[type='text']").val() == "") {
                        alert("请输入查询条件");
                        return false;
                    }
                })
            </script>
            }
