@{
    ViewBag.Title = "编辑用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/css/index.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/css/XTGL_YHGLXXXX.css" rel="stylesheet" />
<link href="~/Content/css/publicHeader.css" rel="stylesheet" />
<link href="~/Content/css/page.css" rel="stylesheet" />
<style type="text/css">
    .contentbody .contentInfo table {
        color: #b1b1b1;
        width: 1250px;
        border: 1px solid #2a393a;
        margin: 0 auto;
        background-color: #21222f;
    }

        .contentbody .contentInfo table tr {
            height: 40px;
        }

            .contentbody .contentInfo table tr:nth-child(even) {
                background-color: #21202E;
            }

            .contentbody .contentInfo table tr:nth-child(odd) {
                background-color: #21222F;
            }

            .contentbody .contentInfo table tr th {
                text-align: left;
                padding-left: 50px;
                background-color: #1E1F2D;
                border-bottom: 1px solid #2A393A;
            }

            .contentbody .contentInfo table tr td {
                border-right: 1px solid #2A393A;
                padding-left: 50px;
            }

                .contentbody .contentInfo table tr td .spanTitle {
                    color: #999999;
                }

                .contentbody .contentInfo table tr td .spanText {
                    color: #CCCCCC;
                }

                .contentbody .contentInfo table tr td .spanTextHint {
                    color: #AA301C;
                }

        .contentbody .contentInfo table:nth-child(1) {
            margin-top: 20px;
        }

        .contentbody .contentInfo table:nth-child(2) {
            margin-bottom: 50px;
            border-top: none;
        }

        .contentbody .contentInfo table tr td img {
            vertical-align: middle;
        }

        .contentbody .contentInfo table tr td input {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            background-color: #222B3B;
            height: 25px;
            padding-left: 5px;
            color: #999999;
        }

        .contentbody .contentInfo table tr td select {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            background-color: #222B3B;
            height: 25px;
            padding-left: 5px;
            color: #999999;
        }

        .contentbody .contentInfo table tr td .SYHLXbtn {
            border: 1px solid #222B3B;
            cursor: pointer;
            outline: none;
            box-sizing: border-box;
            /*padding-top: 3px;*/
            margin-left: 10px;
            padding-bottom: 3px;
            padding-left: 15px;
            padding-right: 15px;
            -moz-border-radius: 15px; /* Firefox */
            -webkit-border-radius: 15px; /* Safari 和 Chrome */
            border-radius: 15px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
        }

        .contentbody .contentInfo table tr td .YHLXbtnActive {
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            color: #7BD2DA;
            border: 1px solid #7BD2DA;
        }

        .contentbody .contentInfo table tr td .ZJLX {
            width: 80px;
            border: 1px solid #0A7891;
            cursor: pointer;
            background-color: #0B2A3C;
            color: #7BD2DA;
        }

    .footerAdd {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

        .footerAdd .add {
            box-sizing: border-box;
            cursor: pointer;
            width: 250px;
            height: 50px;
            background-color: #1e1f2d;
            color: #7bd2da;
            border: none;
            font: 14px "Î¢ÈíÑÅºÚ";
            background-image: url(/Content/images/save_bg.png);
        }
</style>
@using HCZZ.ModeDB;
@using HCZZ.Common;
@model List<Sys_UserPowerInfo>
@using (Html.BeginForm("EditUser", "System", FormMethod.Post))
{
    UserInfo user = (UserInfo)ViewBag.user;
    <div class="contentbody" id="contentbody">
        <div class="contentTopNav">
        </div>
        <div class="contentInfo">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr><th colspan="3">基础信息</th></tr>
                    <tr>
                        <td style="width: 50%;">
                            <span class="spanTitle">用户账号:</span>
                            <span style="width: 180px;"><strong>@user.UserName</strong></span>
                        </td>
                        <td style="width: 50%;">
                            <span class="spanTitle">真实姓名:</span>
                            <input style="width: 301px;" name="txtTrueName" id="txtTrueName" value="@user.TrueName" type="text" maxlength="16">
                            <span class="spanTextHint" id="spTrueName"><img src="/Content/images/star1.png">与身份证一致</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="spanTitle">手机号码:</span>
                            <input style="width: 320px;" name="txtMobile" id="txtMobile" value="@user.Mobile" type="text" maxlength="13">
                            <span class="spanTextHint" id="spMobile"><img src="/Content/images/star1.png"></span>
                        </td>
                        <td>
                            <span class="spanTitle">Email:</span>
                            <input style="width: 320px;" id="txtEmail" name="txtEmail" value="@user.Email" type="text" maxlength="64">
                            <span class="spanTextHint" id="spEmail"><img src="/Content/images/star1.png"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="margin-top: 20px;">
                            <span class="spanTitle">所属区域:</span>
                            <select style="width: 120px;margin-top: 10px;" name="selProvince" id="selProvince" onchange="changeValue('selProvince','selCity','City')">
                                <option value="0">==请选择==</option>
                            </select>
                            <select style="width: 120px;" name="selCity" id="selCity" onchange="changeValue('selCity','SelArea','Area')">
                                <option value="0">==请选择==</option>
                            </select>
                            <select style="width: 120px;" name="SelArea" id="SelArea" onchange="changeValue('SelArea','selPolice','police')">
                                <option value="0">==请选择==</option>
                            </select>
                            <select style="width: 120px;margin-left: 76px;margin-top: 12px;margin-bottom: 12px;" id="selPolice" name="selPolice">
                                <option value="0">==请选择==</option>
                            </select>
                            <span class="spanTextHint" id="sppolice"><img src="/Content/images/star1.png"></span>
                        </td>
                        <td>
                            <span class="spanTitle">用户类型:</span>
                            <input class="SYHLXbtn" name="" id="1" value="管理员" type="button" selUserType="selUserType">
                            <input class="SYHLXbtn" name="" id="2" value="分局用户" type="button" selUserType="selUserType">
                            <input class="SYHLXbtn" style="margin-top: 12px;margin-bottom: 12px;" name="" id="3" value="派出所用户" type="button" selUserType="selUserType">
                            <input class="SYHLXbtn" name="" id="4" value="市局用户" type="button" selUserType="selUserType">
                            @*<input class="SYHLXbtn" name="" id="5" value="分中心用户" type="button">*@
                            <input class="SYHLXbtn" name="" id="6" value="省用户" type="button" selUserType="selUserType">
                            <input class="SYHLXbtn" name="" id="7" value="全国用户" type="button" selUserType="selUserType">
                            <input class="SYHLXbtn" name="" id="8" value="运营用户" type="button" selUserType="selUserType">
                            <span class="spanTextHint" id="spUserType"><img src="/Content/images/star1.png"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="spanTitle">证件类型:</span>
                            <select name="selIdType" id="selIdType" class="ZJLX" style="width:100px;">
                                <option value="0">=请选择=</option>
                                <option value="1">身份证</option>
                                <option value="2">军官证</option>
                                <option value="3">港澳通行证</option>
                                <option value="4">护照</option>
                                <option value="5">驾驶证</option>
                            </select><span id="SIdType"></span>
                            <span style="margin-left:135px">
                                <span class="spanTitle">角色:</span>
                                <select id="Sys_RID" name="Sys_RID" style="width: 100px;color: #7BD2DA;" class="ZJLX">
                                    <option value="0">==请选择==</option>
                                    @foreach (Sys_UserPowerInfo item in Model)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                </select>
                                <span class="spanTextHint" id="spSys_RID"><img src="/Content/images/star1.png"></span>
                            </span>
                        </td>
                        <td>
                            <span class="spanTitle">证件号码:</span>
                            <input style="width: 300px;" name="txtIdnumber" id="txtIdnumber" value="@user.idNumber" type="text" maxlength="25">
                            <span class="spanTextHint" id="spIdnumber"><img src="/Content/images/star1.png"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td style="border-right: none;">
                            <span class="spanTitle">设置密码</span>
                        </td>
                        <td></td>
                    </tr>
                    <tr style="border-top: 1px solid #2A393A;">
                        <td style="width: 50%;">
                            <span class="spanTitle">设置用户密码:</span>
                            <input style="width: 310px;" name="pwd" id="pwd" type="password" value="">
                            <span class="spanTextHint" id="spPwd"><img src="/Content/images/star1.png"></span>
                        </td>
                        <td style="width: 50%;">
                            <span class="spanTitle">确认用户密码:</span>
                            <input style="width: 290px;" name="newpwd" id="newpwd" type="password" value="">
                            <span class="spanTextHint" id="sptruePwd"><img src="/Content/images/star1.png"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="footerAdd">
            <input class="add" name="button" value="保存" type="submit"><input type="hidden" id="HId" name="HId" value="@user.ID" /><input type="hidden" id="selUserType" name="selUserType" value="0" />
        </div>
    </div>
    <script type="text/javascript">
        $(".SYHLXbtn").click(function () {
            $(this).addClass("YHLXbtnActive").siblings().removeClass('YHLXbtnActive');
            $("#selUserType").val(this.id)
            SelectType();
        });
        $(function () {
            GetRoleList();
            changeValue("selProvince", "selProvince", "Province");
            $("#selIdType").val('@(user == null ? 0 : user.idType)');
            $("#selUserType").val('@(user == null ? 0 : user.Type)');
            $("#selProvince").val('@(user == null ? 0 : user.ProID)');
            changeValue('selProvince', 'selCity', 'City');
            $("#selCity").val('@(user == null ? 0 : user.CityID)');
            changeValue('selCity', 'SelArea', 'Area');
            $("#SelArea").val('@(user == null ? 0 : user.AId)');
            changeValue('SelArea', 'selPolice', 'police');
            $("#selPolice").val('@(user == null ? 0 : user.PId)');
            $("#Sys_RID").val('@(user == null ? 0 : user.JId)');
            SelectType();
            $("form").submit(function () {
                if (subVal()) {
                    return true;
                } else {
                    return false;
                }
            });
            $(".SYHLXbtn").each(function () {
                if (this.id == '@user.Type') {
                    $(this).addClass("YHLXbtnActive").siblings().removeClass('YHLXbtnActive');
                }
            })
        });
        function subVal() {
            var result = true;
            if ($.trim($("#txtTrueName").val()) == "") {
                result = false;
                $("#spTrueName").html("真实姓名不能为空");
            } else {
                $("#spTrueName").html("");
            }
            if ($.trim($("#txtMobile").val()) == "") {
                result = false;
                $("#spMobile").html("手机号码不能为空");
            } else if (isNaN($.trim($("#txtMobile").val()))) {
                result = false;
                $("#spMobile").html("手机号码只能是11位数字");
            } else if ($.trim($("#txtMobile").val()).length != 11) {
                result = false;
                $("#spMobile").html("手机号码的长度为11位");
            } else {
                $("#spMobile").html("");
            }
            var reg = new RegExp(/^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/g);
            if ($.trim($("#txtEmail").val()) == "") {
                result = false;
                $("#spEmail").html("邮箱不能为空");
            } else if (!reg.test($.trim($("#txtEmail").val()))) {
                result = false;
                $("#spEmail").html("邮箱格式不正确");
            } else {
                $("#spEmail").html("");
            }
            var type = $("#selUserType").val();
            if (type == "0") {
                result = false;
                $("#spUserType").html("请选择用户类型");
            } else {
                $("#spUserType").html("");
            }
            if (type != "0" && type != "7") {
                if (type == 3 && $("#selPolice").val() == "0") {
                    result = false;
                    $("#sppolice").html("请选择派出所");
                } else if (type == "2" && $("#SelArea").val() == "0") {
                    result = false;
                    $("#sppolice").html("请选择区");
                } else if (type == "4" && $("#selCity").val() == "0") {
                    result = false;
                    $("#sppolice").html("请选择市");
                } else if (type == "6" && $("#selProvince").val() == "0") {
                    result = false;
                    $("#sppolice").html("请选择省");
                }
                else {
                    $("#sppolice").html("");
                }
            }
            if ($.trim($("#txtIdnumber").val()) == "") {
                result = false;
                $("#spIdnumber").html("证件号码不能为空");
            } else {
                $("#spIdnumber").html("");
            }
            if ($("#Sys_RID").val() == "0") {
                result = false;
                $("#spSys_RID").html("请选择角色");
            } else {
                $("#spSys_RID").html("");
            }
            if ($("#pwd").val() != $("#newpwd").val()) {
                result = false;
                $("#sptruePwd").html("两次密码不一致");
            } else {
                $("#sptruePwd").html(" ");
            }
            return result;
        }
        function SelectType() {
            var type = $("#selUserType").val();
            if (type == "8") {
                $("#selProvince").removeAttr("disabled", "disabled");
                $("#selCity").removeAttr("disabled", "disabled");
                $("#SelArea").removeAttr("disabled", "disabled");
                $("#selPolice").attr("disabled", "disabled");
                $("#sppolice").hide();
            } else if (type == "7" || type == "1") {
                $("#selProvince").attr("disabled", "disabled");
                $("#selCity").attr("disabled", "disabled");
                $("#SelArea").attr("disabled", "disabled");
                $("#selPolice").attr("disabled", "disabled");
                $("#sppolice").hide();
            } else if (type == "6") {
                $("#selProvince").removeAttr("disabled", "disabled");
                $("#selCity").attr("disabled", "disabled");
                $("#SelArea").attr("disabled", "disabled");
                $("#selPolice").attr("disabled", "disabled");
                $("#sppolice").show();
            } else if (type == "4") {
                $("#selProvince").removeAttr("disabled", "disabled");
                $("#selCity").removeAttr("disabled", "disabled");
                $("#SelArea").attr("disabled", "disabled");
                $("#selPolice").attr("disabled", "disabled");
                $("#sppolice").show();
            } else if (type == "2") {
                $("#selProvince").removeAttr("disabled", "disabled");
                $("#selCity").removeAttr("disabled", "disabled");
                $("#SelArea").removeAttr("disabled", "disabled");
                $("#selPolice").attr("disabled", "disabled");
                $("#sppolice").show();
            } else if (type == "3") {
                $("#selProvince").removeAttr("disabled", "disabled");
                $("#selCity").removeAttr("disabled", "disabled");
                $("#SelArea").removeAttr("disabled", "disabled");
                $("#selPolice").removeAttr("disabled", "disabled");
                $("#sppolice").show();
            }
        }
        function changeValue(fname, sname, key) {
            var id = parseInt($("#" + fname).val());
            if (id != 0 || key == "Province") {
                $.ajax
                ({
                    type: "Get",
                    url: "/Public/AreaValue?Id=" + id + "&key= " + key,
                    dataType: "json",
                    async: false,
                    cache: false,
                    success: function (data, status) {
                        if (typeof (data.err) != 'undefined' && data.err != "") {
                            alert(data.err);
                        } else {
                            SelClear(key);
                            if (key != "Scenic") {
                                for (var i = 0; i < data.length; i++) {
                                    $("#" + sname).append("<option value='" + data[i].ID + "'>" + data[i].Name + "</option>");
                                }
                            } else {
                                for (var i = 0; i < data.length; i++) {
                                    $("#" + sname).append("<option value='" + data[i].ID + "'>" + data[i].SName + "</option>");
                                }
                            }
                        }
                    },
                    error: function (data, status, e) {
                        alert(e);
                    }
                });
            } else {
                SelClear(key);
            }
        }
        function SelClear(key) {
            if (key == "City") {
                $("#selCity").html("<option value='0'>==请选择==</option>");
                $("#SelArea").html("<option value='0'>==请选择==</option>");
                $("#selPolice").html("<option value='0'>==请选择==</option>");
            } else if (key == "Area") {
                $("#SelArea").html("<option value='0'>==请选择==</option>");
                $("#selPolice").html("<option value='0'>==请选择==</option>");
            } else if (key == "police") {
                $("#selPolice").html("<option value='0'>==请选择==</option>");
            }
        }
        function GetRoleList() {
            $('input[selUserType="selUserType"]').click(function () {
                var val = $(this).get(0).id;
                if (val == 0) {
                    return;
                }
                $.ajax
                    ({
                        type: "Get",
                        url: '@Url.Content("~/Public/GetRoleList/")' + val,
                        dataType: "json",
                        async: false,
                        cache: false,
                        success: function (data, status) {
                            if (typeof (data.err) != 'undefined' && data.err != "") {
                                alert(data.err);
                            } else {
                                $("#Sys_RID").html("<option value=\"0\">==请选择==</option>");
                                for (var i = 0; i < data.length; i++) {
                                    $("#Sys_RID").append("<option value='" + data[i].Id + "'>" + data[i].Name + "</option>");
                                }
                            }
                        },
                        error: function (data, status, e) {
                            alert(e);
                        }
                    });
            })
        }

    </script>
}
