@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dataType = ViewBag.dataType;
    ViewBag.title = "安全厂商数据查询";
}
@using HCZZ.ModeDB;
@using Webdiyer.WebControls.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>安全厂商数据查询</title>
    <link href="@Url.Content("~/Content/css/XTGL.css")" rel="stylesheet" type="text/css" />
    <style>
        #djsTable:hover {
        background-color: #1E1F2D;
    }
        .contentbody .contentTable {
    }

        .contentbody .contentTable table {
            width: 100%;
        }

            .contentbody .contentTable table tr {
                border-bottom: 1px solid #181926;
                height: 40px;
            }

                .contentbody .contentTable table tr:nth-child(even) {
                    background-color: #20212e;
                }

                .contentbody .contentTable table tr:nth-child(odd) {
                    background-color: #21222f;
                }

                .contentbody .contentTable table tr:first-child {
                    background-color: #1E1F2D;
                }

                .contentbody .contentTable table tr th {
                    text-align: left;
                    padding-left: 15px;
                    border-right: 2px solid rgb(24, 25, 38);
                    color: #85858A;
                    font-family: "微软雅黑";
                    font-size: 13px;
                }

                .contentbody .contentTable table tr td {
                    text-align: left;
                    padding-left: 15px;
                    border-right: 2px solid rgb(24, 25, 38);
                    color: #85858A;
                    font-family: "微软雅黑";
                    font-size: 12px;
                }

                .contentbody .contentTable table tr:hover {
                    background-color: #222a36;
                }

            .contentbody .contentTable table.djxTable tr:first-child:hover {
                background-color: #1E1F2D;
            }
                #djsTable:hover {
        background-color: #1E1F2D;
    }
    </style>
</head>
<body>
    <div id="contentbody" class="contentbody">
        <div class="contentTitle" style="padding-left: 580px;border-bottom:none;">
            <span>@(HCZZ.Common.ChangeValue.RefauthTypeStr(dataType))</span>
        </div>
        <div class="contentbody" id="contentbody">
            <div class="contentTable" id="taskManagementId">
                @switch (dataType)
            {
                case "AuditLog"://上下线日志信息
                    PagedList<TermianlAccessLog> Tallist = (PagedList<TermianlAccessLog>)ViewBag.pl;
                        <table cellspacing="0" cellpadding="0" border="0" caption="AuditLog">
                            <tr id="djsTable" style="border-top: 1px solid #181926;">
                                <td>场所名称</td>
                                @*<td>认证账号</td>*@
                                <td>终端MAC地址</td>
                                <td>AP名称</td>
                                <td>场所内网IP地址</td>
                                <td>用户公网IP地址</td>
                                <td>源外网起始端口</td>
                                <td>源外网结束端口</td>
                                <td>上线时间</td>
                                <td>下线时间</td>
                            </tr>
                            @if (Tallist!=null&& Tallist.Count > 0)
                        {
                            foreach (var item in Tallist)
                            {
                                Loc_DevInfo mac = HCZZ.AppCode.WebCommon.GetMacInfoByDevAP_ID(0, item.AP_MAC);
                                Loc_NetBarInfo loca = HCZZ.AppCode.WebCommon.GetLocaInfoByNetBar_ID(Convert.ToInt32(item.NETBAR_ID));
                                string PLACE_NAME = (loca == null ? "" : loca.PLACE_NAME);
                                string apName = (mac != null ? mac.APName : "");
                                    <tr>
                                        <td title='@PLACE_NAME'>@(HCZZ.Common.ChangeValue.ByteSubString(PLACE_NAME, 12))</td>
                                        @*<td>@item.AUTH_ACCOUNT</td>*@
                                        <td>@item.MAC</td>
                                        <td title="@apName">@(HCZZ.Common.ChangeValue.ByteSubString(apName, 16))</td>
                                        <td>@(HCZZ.Common.ChangeValue.RefIPvlong(item.IP_ADDRESS))</td>
                                        <td>@HCZZ.Common.ChangeValue.RefIPvlong(item.SRC_IP)</td>
                                        <td>@item.SRC_PORT_START</td>
                                        <td>@item.SRC_PORT_END</td>
                                        <td>@(item.START_TIME > 0 ?Szcert.Audit.CommonBase.ChangeValueBase.RefAuditTime (Convert.ToInt64(item.START_TIME),Szcert.Audit.CommonBase.TimeUnits.Sec,true,"N/A") : "N/A")</td>
                                        <td>@(item.END_TIME > 0 ? Szcert.Audit.CommonBase.ChangeValueBase.RefAuditTime(Convert.ToInt64(item.END_TIME), Szcert.Audit.CommonBase.TimeUnits.Sec, true, "N/A") : "N/A")</td>
                                    </tr>
                            }
                        }
                        </table>
                    if (Tallist!=null&& Tallist.Count > 0)
                    {
                            @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", Tallist }, { "pageindex", "PageIndex" } })
                    }
                    break;
                case "NetLog"://上网日志信息
                    PagedList<TermianlNetworkLog>
                        Tnllist = (PagedList<TermianlNetworkLog>
                            )ViewBag.pl;
                        <table cellspacing="0" cellpadding="0" border="0" caption="NetLog">
                            <tr id="djsTable"  style="border-top: 1px solid #181926;">
                                <td>场所名称</td>
                                <td>认证账号</td>
                                <td>应用服务类型</td>
                                <td>应用服务类型值</td>
                                <td>AP名称</td>
                                <td>目的IP地址</td>
                                <td>终端MAC地址</td>
                                <td>目的起始端口</td>
                                <td>目的结束端口</td>
                                <td>在线时间</td>
                            </tr>
                            @if (Tnllist.Count > 0)
                        {
                            foreach (var item in Tnllist)
                            {
                                Loc_DevInfo mac = HCZZ.AppCode.WebCommon.GetMacInfoByDevAP_ID(0, item.AP_MAC);
                                Loc_NetBarInfo loca = HCZZ.AppCode.WebCommon.GetLocaInfoByNetBar_ID(Convert.ToInt32(item.NETBAR_ID));
                                string PLACE_NAME = (loca == null ? "" : loca.PLACE_NAME);
                                string apName = (mac != null ? mac.APName : "");
                                    <tr>
                                        <td title='@PLACE_NAME'>@(HCZZ.Common.ChangeValue.ByteSubString(PLACE_NAME, 12))</td>
                                        <td>@item.AUTH_ACCOUNT</td>
                                        <td>@HCZZ.Common.ChangeValue.GetDetailHttpLog(item.NETWORK_APP)</td>
                                        <td title="@item.NETWORK_APP_VALUES">@(HCZZ.Common.ChangeValue.ByteSubString(item.NETWORK_APP_VALUES, 12))</td>
                                        <td title="@apName">@(HCZZ.Common.ChangeValue.ByteSubString(apName, 12))</td>
                                        <td>@HCZZ.Common.ChangeValue.RefIPvlong(Convert.ToInt64(item.DST_IP))</td>
                                        <td>@item.MAC</td>
                                        <td>@item.SRC_PORT_START</td>
                                        <td>@item.SRC_PORT_END</td>
                                        <td>@Szcert.Audit.CommonBase.ChangeValueBase.RefAuditTime(Convert.ToInt64(item.CAPTURE_TIME),Szcert.Audit.CommonBase.TimeUnits.Sec,true,"N/A")</td>
                                    </tr>
                            }
                        }
                        </table>
                    if (Tnllist!=null&& Tnllist.Count > 0)
                    {
                            @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", Tnllist }, { "pageindex", "PageIndex" } })
                    }
                    break;
                case "Termianl"://终端特征
                    PagedList<Fench_TerminalInfo>
                        ftilist = (PagedList<Fench_TerminalInfo>
                            )ViewBag.pl;
                        <table cellspacing="0" cellpadding="0" border="0" caption="Termianl">
                            <tr id="djsTable"  style="border-top: 1px solid #181926;">
                                <td>场所名称</td>
                                <td>采集设备名称</td>
                                <td>采集设备MAC地址</td>
                                <td>采集设备经度</td>
                                <td>采集设备纬度</td>
                                <td>终端MAC地址</td>
                                <td>被采终端场强</td>
                                <td>接入热点频道</td>
                                <td>采集时间</td>
                            </tr>
                            @if (ftilist != null && ftilist.Count > 0)
                            {
                                foreach (var item in ftilist)
                                {
                                    Loc_DevInfo mac = HCZZ.AppCode.WebCommon.GetMacInfoByDevAP_ID(Convert.ToInt32(item.DevAP_ID),"");
                                    Loc_NetBarInfo loca = HCZZ.AppCode.WebCommon.GetLocaInfoByNetBar_ID(Convert.ToInt32(item.NETBAR_ID));
                                    string PLACE_NAME = (loca == null ? "" : loca.PLACE_NAME);
                                    string apName = (mac != null ? mac.APName : "");
                                    <tr>
                                        <td title='@PLACE_NAME'>@(HCZZ.Common.ChangeValue.ByteSubString(PLACE_NAME, 12))</td>
                                        <td title="@apName">@(HCZZ.Common.ChangeValue.ByteSubString(apName, 12))</td>
                                        <td>@(mac != null ? mac.AP_MAC : "")</td>
                                        <td title="">@item.COLLECTION_EQUIPMENT_LONGITUDE</td>
                                        <td>@item.COLLECTION_EQUIPMENT_LATITUDE</td>
                                        <td>@item.MAC</td>
                                        <td>@(string.IsNullOrEmpty(item.TERMINAL_FIELD_STRENGTH) ? "" : "-" + item.TERMINAL_FIELD_STRENGTH + "dBm")</td>
                                        <td>@item.ACCESS_AP_CHANNEL</td>
                                        <td>@Szcert.Audit.CommonBase.ChangeValueBase.RefAuditTime(Convert.ToInt64(item.CAPTURE_TIME),Szcert.Audit.CommonBase.TimeUnits.Sec,true,"N/A")</td>
                                    </tr>
                            }
                        }
                        </table>
                        if (ftilist != null && ftilist.Count > 0)
                        {
                            @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", ftilist }, { "pageindex", "PageIndex" } })
                    }
                    break;
                default:
                    break;
            }
            </div>
        </div>
    </div>
</body>
</html>
