
@{
    ViewBag.Title = "系统设置-MAC管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HCZZ.ModeDB;
@using HCZZ.DAL;
@using Webdiyer.WebControls.Mvc;
@using HCZZ.Common;
<link href="@Url.Content("~/Content/css/XTGL.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/publicHeader.css")" rel="stylesheet" type="text/css" />
<style>
    .contentbody .contentTable {
    }

        .contentbody .contentTable table {
            width: 100%;
        }

            .contentbody .contentTable table tr {
                border-bottom: 1px solid #181926;
                height: 40px;
            }

                .contentbody .contentTable table tr:nth-child(even) {
                    background-color: #20212e;
                }

                .contentbody .contentTable table tr:nth-child(odd) {
                    background-color: #21222f;
                }

                .contentbody .contentTable table tr:first-child {
                    background-color: #1E1F2D;
                }

                .contentbody .contentTable table tr th {
                    text-align: left;
                    padding-left: 15px;
                    border-right: 2px solid rgb(24, 25, 38);
                    color: #85858A;
                    font-family: "微软雅黑";
                    font-size: 13px;
                }

                .contentbody .contentTable table tr td {
                    text-align: left;
                    padding-left: 15px;
                    border-right: 2px solid rgb(24, 25, 38);
                    color: #85858A;
                    font-family: "微软雅黑";
                    font-size: 12px;
                }
                .contentbody .contentTable table tr:hover{background-color: #222a36;}
                .contentbody .contentTable table.djxTable tr:first-child:hover {
                    background-color: #1E1F2D;
                }
</style>
<script src="@Url.Content("~/Content/DatePicker/WdatePicker.js")" type="text/javascript"></script>
<script src="~/Content/layer/jquery1.9.js"></script>
<script src="~/Content/layer/layer.js"></script>
@using (Html.BeginForm("MacList", "System", new { @Id = 1 }, FormMethod.Get))
{
    Dictionary<string, string> dic = (Dictionary<string, string>)ViewBag.dic;
    string relaVal = ChangeValue.RefPageRelaByPath("System/MacList");
    <div class="contentbody" id="contentbody">
        <div class="contentTitle">
            <span>查询条件和按钮区</span>
            <input class="search" id="BtnSelect" onclick="myFunction(this, 'contentConditions')" value="隐藏" type="button">
            @if (relaVal.Contains("2"))
            {
                <input class="add" id="" value="+ 添加" onclick="AlertShow(510, 375, '/System/AddMac')" type="button">
            }
        </div>
        <div class="contentConditions" style="height:130px">
            <ul>
                <li class="Conditions Conditions1">
                    <span>设备MAC地址：</span>
                    <input id="txtMac" name="txtMac" type="text" value="@dic["AP_MAC"]">
                </li>
                <li>
                    <span>AP设备编码：</span>
                    <input id="txtCOLLECTION_EQUIPMENT_ID" name="txtCOLLECTION_EQUIPMENT_ID" type="text" value="@dic["COLLECTION_EQUIPMENT_ID"]">
                </li>
                <li>
                    <span>创建时间：</span>
                    <input type="text" name="txtBeginTime" id="txtBeginTime" value="@dic["BeginTime"]" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readonly: true, maxDate: '#F{$dp.$D(\'txtEndTime\')}' })" style="width: 148px;margin-left: 0px;" class="Wdate" />
                    <b style="color: #b1b1b1;">—</b>
                    <input type="text" name="txtEndTime" id="txtEndTime" value="@dic["EndTime"]" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readonly: true, minDate: '#F{$dp.$D(\'txtBeginTime\')}' })" style="width: 148px;margin-left: 0px;" class="Wdate" />
                </li>
            </ul>
            <ul>
                <li class="Conditions Conditions6">
                    <input class="selectbg" id="but_Seek" value="搜索" type="submit">
                    <input class="resetbg" value="重置" onclick="Reset()" type="reset">
                </li>
            </ul>
        </div>
        <div class="contentTable" id="taskManagementId">
            <table class="djxTable" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <th style="width: 20%;">序号</th>
                        <th style="width: 20%;">AP设备编码</th>
                        <th style="width: 20%;">设备MAC地址</th>
                        <th style="width: 20%;">创建时间</th>
                        <th style="width: 20%;">操作</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contentTable">
            <table cellspacing="0" cellpadding="0" border="0">
                @{
                    PagedList<MacInfo> pl = (PagedList<MacInfo>)ViewBag.pl;
                    if (pl != null && pl.Count > 0)
                    {
                        foreach (MacInfo item in pl)
                        {
                            <tr>
                                <td width="20%">@item.PageNum</td>
                                <td width="20%">@item.COLLECTION_EQUIPMENT_ID</td>
                                <td width="20%">@item.AP_MAC</td>
                                <td width="20%">
                                    @(item.CreateTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "N/A" : item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss"))
                                </td>
                                <td width="20%">
                                    @if (relaVal.Contains("2"))
                                    {
                                        <a href="javascript:void()" onclick="AlertShow(510, 375, '/System/EditMac/'+@item.ID)" class="Cz_xiugai"><img title="编辑" src="@Url.Content("~/Content/images/edit1_icon.png")" alt="编辑" /></a>
                                    }
                                    else
                                    {
                                        <kbd>--</kbd>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
            @if (pl != null && pl.Count > 0)
                {
                @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", pl }, { "pageindex", "PageIndex" } })
            }
            <script>
            </script>
        </div>
    </div>
                    }
