@using System.Collections.Generic
@using HCZZ.Common
@using HCZZ.ModeDB
@using Webdiyer.WebControls.Mvc
@model PagedList<Sys_UserPowerInfo> 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "系统设置-角色管理";
    string relaVal = ChangeValue.RefPageRelaByPath("System/UserList");
    Dictionary<string, string> dic = (Dictionary<string, string>) ViewBag.dic;
}
<!DOCTYPE html>
<html>
<head>
    <title>角色管理</title>
</head>
<script src="@Url.Content("~/Content/DatePicker/WdatePicker.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/XTGL.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/css/XTGL_JSGL.css" rel="stylesheet" />
<script src="~/Content/layer/jquery1.9.js"></script>
<script src="~/Content/layer/layer.js"></script>

<body>
<form id="form1" action="@Url.Content("~/System/RoleList")" method="GET">
    <div class="contentbody" id="contentbody">
    <div class="contentTitle">
        <span>查询条件和按钮区</span>
        <input class="search" type="button" id="BtnSelect" onclick="myFunction(this, 'contentConditions')"
               value="隐藏"/>
        @if (relaVal.Contains("2"))
        {
            <input class="add" type="button" id="" value="+ 添加" onclick="AlertShow(510,350,'AddRole')"/>
        }
    </div>
    <div class="contentConditions" style="height: 70px">
        <ul>
            <li class="Conditions Conditions5">
                <span>创建时间：</span>
                <input name="CreateTime" id="CreateTime" value="@dic["CreateTime"]" class="Wdate" type="text" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readonly: true, maxDate: '#F{$dp.$D(\'EndTime\')}' })">
                <b style="color: #b1b1b1;">—</b>
                <input name="EndTime" id="EndTime" value="@dic["EndTime"]" class="Wdate" style="margin: 0;" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readonly: true, minDate: '#F{$dp.$D(\'CreateTime\')}' })" type="text">
            </li>
            <li class="Conditions Conditions4"><span>角色名：</span>
                <input type="text" id="keyword" name="keyword" value="@dic["txtkeyword"]"/>
            </li>
            <li class="Conditions Conditions6">
                <input class="selectbg" type="submit" id="but_Seek" value="搜索"/>
                <input class="resetbg"  type="reset" value="重置" onclick="Reset()"/>
            </li>
        </ul>
    </div>
    <div class="contentTable" id="taskManagementId">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>
                    角色名称
                </th>
                <th>
                    创建时间
                </th>
                <th>
                    角色权限
                </th>
                <th>
                    操作
                </th>
            </tr>
            @{
                if (Model != null && Model.Count > 0)
                {
                    foreach (Sys_UserPowerInfo item in Model)
                    {
                        <tr>
                            <td>@item.RoleName
                            </td>
                            <td>@ChangeValue.RefFormatTimeToString(item.CreateTime, "ss")
                            </td>
                            <td>
                                @if (item.JNum > 0)
                                {
                                    <a class="editAuthority" href="@Url.Content("~/System/EditPower/" + item.Jid)">修改权限</a>}
                                else
                                {
                                    <a class="addAuthority" href="@Url.Content("~/System/AddPower/" + item.Jid)">添加权限</a>
                                }
                            </td>
                            <td>
                                @if (item.RoleName != "管理员")
                                {
                                    if (relaVal.Contains("2"))
                                    {   
                                        <a href="javascript:void()" onclick="AlertShow(510, 350, 'EditRole?Jid='+@item.Jid)"  class="Cz_xiugai"><img title="编辑" src="@Url.Content("~/Content/images/edit1_icon.png")" alt="编辑" /></a>
                                    }
                                    if (relaVal.Contains("3"))
                                    {
                                        @*<a href="javascript:void(0)" @(item.JUserNum > 0 ? "style=color:gray; title=该角色下存在" + item.JUserNum + "个用户，不能删除！" : "onclick=PublicFun(" + 2 + ",'System/DelRole?Jid=" + item.Jid + "')") class="Cz_xiugai">
                                            <img title="删除" src="@Url.Content("~/Content/images/del1_icon.png")" alt="删除" />
                                        </a>*@
                                        <img title="@(item.JUserNum > 0 ?"该角色下存在" + item.JUserNum + "个用户，不能删除！":"删除")" src="@(item.JUserNum>0? "/Content/images/del_icon.png" : "/Content/images/del1_icon.png")" alt="删除" @(item.JUserNum>0? "":"onclick=PublicFun('2','System/DelRole?Jid=" + item.Jid + "')") />
                                    }
                                }
                                else
                                {
                                    <a class="Cz_xiugai">
                                        <img title="删除" src="@Url.Content("~/Content/images/del_icon.png")" alt="删除" />
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </table>
       @Html.Partial("~/Views/Shared/_PartialPage.cshtml", new RouteValueDictionary { { "model", Model }, { "pageindex", "PageIndex" } })
    </div>
</div>
</form>
<script type="text/javascript">
    function InputVerify() {
        var res = false;
        $(".contentConditions").find("input[type='text']").each(function(){
            if ($.trim($(this).val())!=""){
                res = true;
            }
        });
        return res;
    }
    $("#form1").submit(function () {
        if (InputVerify() === true) {
            return InputVerify();
        } else {
            alert("请输入搜索条件！");
            return false;
        }
    });
</script>
</body>
</html>